{% extends 'admin/base.html.twig' %}

{% block title %}Add Category{% endblock %}

{% block body %}
<div class="admin-layout">
    {% include 'admin/_sidebar.html.twig' %}
    
    <main class="admin-content">
        <div class="admin-header">
            <h1>Add New Category</h1>
        </div>

        <div class="form-container">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        <i class="fas fa-save"></i> Save Category
                    </button>
                    <a href="{{ path('admin_category_index') }}" class="btn btn-secondary">
                        <i class="fas fa-times"></i> Cancel
                    </a>
                </div>
            {{ form_end(form) }}
        </div>
    </main>
</div>
{% endblock %} 